.about-project {
  padding: 110px 70px 100px 70px;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: column;
}

.about-project__title {
  font-size: 22px;
  letter-spacing: -0.88px;
  font-weight: 400;
  margin: 0;
  color: #fff;
  border-bottom: 1px solid #dadada;
  padding-bottom: 24px;
}

.about-project__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 110px;
  margin-top: 70px;
}

.about-project__content {
  width: calc(50% - 20px);
}

.about-project__subtitle {
  font-size: 20px;
    letter-spacing: -0.8px;
    font-weight: 400;
    margin: 0 0 26px;
    color: #fff;
}

.about-project__text {
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.about-project__timeline {
  width: 100%;
  display: flex;
}

.about-project__week-one {
  width: 20%;
}

.about-project__timeline-title {
  margin: 0;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
}

.about-project__timeline-title_backend {
  background-color: #3ddc84;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 400;
}

.about-project__week-four {
  width: 80%;
}

.about-project__timeline-title_frontend {
  background-color: #303030;
  color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 0;
    font-size: 14px;
    font-weight: 400;
}

.about-project__timeline-text {
  color: #8b8b8b;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
@media screen and (max-width: 1023px) {
  .about-project {
      padding: 90px 50px;
      width: calc(100% - 100px);
  }

  .about-project__content{
      width: calc(50% - 15px);
  }

  .about-project__subtitle {
      margin-bottom: 22px;
  }

  .about-project__text {
      line-height: 18px;
  }

  .about-project__container {
      margin-bottom: 93px;
  }

  .about-project__timeline-text {
      font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
      padding: 70px 18px;
      width: calc(100% - 36px);
  }

  .about-project__title {
      font-size: 18px;
      letter-spacing: -0.72px;
  }


  .about-project__container {
      flex-direction: column;
      margin-bottom: 60px;
  }

  .about-project__content {
      width: 100%;
      margin-bottom: 56px;
  }

  .about-project__subtitle {
      font-size: 18px;
      letter-spacing: -0.72px;
      margin: 0 0 16px;
  }

  .about-project__text {
      font-size: 11px;
      line-height: 16px;
  }

  .about-project__content:last-of-type {
      margin-bottom: 0;
  }

  .about-project__week-one {
      width: 100px;
  }

  .about-project__timeline-title_backend {
      font-size: 11px;
      padding: 11px 0;
  }

  .about-project__week-four{
      width: calc(100% - 100px);
  }

  .about-project__timeline-title_frontend {
      font-size: 11px;
      padding: 11px 0;
  }

  .about-project__timeline-text {
      font-size: 11px;
      line-height: normal;
  }
}
