.about-me {
  display: flex;
  padding: 10px 70px 10px;
  width: calc(100% - 140px);
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
}

.about-me__title {
  font-size: 22px;
  letter-spacing: -0.88px;
  font-weight: 400;
  margin: 0;
  color: #fff;
  border-bottom: 1px solid #dadada;
  padding-bottom: 24px;
}

.about-me__profile {
  display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
    margin-top: 65px;
    margin-bottom: 91px;
}

.about-me__content {
  width: 600px;
    display: flex;
    flex-direction: column;
  color: #fff;
}

.about-me__name {
  margin: 0 0 18px;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.about-me__job {
  margin: 0 0 26px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.about-me__text {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.about-me__link {
  text-decoration: none;
  color: #000;
  transition: 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  color: #fff;
}
.about-me__link:hover {
  opacity: 0.7;
}
.about-me__pic {
  width: 270px;
  height: 327px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1023px) {
  .about-me {
      padding: 0px 50px;
      width: calc(100% - 100px);
  }

  .about-me__content{
      width: 364px;
  }

  .about-me__name {
      font-size: 40px;
      line-height: 40px;
      letter-spacing: -1.6px;
      margin-bottom: 16px;
  }

  .about-me__job {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 20px;
  }

  .about-me__text {
      font-size: 12px;
      line-height: 18px;
  }

  .about-me__pic {
      width: 255px;
      height: 307px;
  }
}

@media screen and (max-width: 767px) {
  .about-me {
      padding: 70px 14px;
      width: calc(100% - 28px);
  }


  .me__container-about {
      flex-direction: column-reverse;
      align-items: center;
      gap: 40px;
  }

  .about-me__content{
      width: 100%;
  }

  .about-me__name {
      font-size: 30px;
      line-height: normal;
      letter-spacing: -1.2px;
      margin-bottom: 20px;
  }

  .about-me__job {
      font-size: 11px;
      line-height: 16px;
  }

  .about-me__text {
      font-size: 11px;
      line-height: 16px;
  }

  .about-me__link{
      margin-top: 40px;
  }

  .about-me__pic {
      max-width: 100%;
      width: 292px;
      height: 352px;
  }
}
@media screen and (max-width: 450px) {
    .about-me__pic {
      width: 180px;
      height: 180px;
      align-self: center;
  }
}
@media screen and (max-width: 320px) {
.about-me {
  padding: 0px 14px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', 'Arial', sans-serif;
}
.about-me__profile {
  margin: 0 auto;
  margin-bottom: 70px;
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  letter-spacing: -1px;
}

.about-me__title {
  width: 100%;
  margin: 23px 0 60px 0px;
  font-size: 18px;
  padding-bottom: 29px;
}

.about-me__pic {
 Width: 350px;
 height: 350px;
  padding: 0;
  align-self: center;
  object-fit: contain;
}

.about-me__name {
  margin-top: 30px;
  padding: 0;
  font-size: 30px;
  line-height: normal;
}

.about-me__job {
  padding: 0;
  font-size: 11px;
  line-height: 16px;
}

.about-me__text {
  font-size: 11px;
  line-height: 16px;
  padding: 0;
}

.about-me__link {
  padding: 0;
  margin-top: 75px;
}

.about-me__content {
  max-width: 100%;
}}