.root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #202020;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
.button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 3px;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.3s linear 0.1s;
}

.link:hover {
  opacity: 0.7;
  transition: opacity 0.3s linear 0.1s;
}