.notfound-error {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-family: 'Inter', 'Arial', sans-serif;
}

.notfound-error__title {
  margin: 246px auto 5px;
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
}

.notfound-error__subtitle {
  margin: 0px auto 184px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notfound-error__link {
  margin: 0 auto 60px;
  padding: 0;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
}

.notfound-error__link:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .notfound-error__title {
    margin: 414px auto 5px;
  }
}

@media screen and (max-width: 450px) {
  .notfound-error__title {
    margin: 332px auto 12px;
    font-size: 80px;
  }

  .notfound-error__subtitle {
    margin: 0px auto 285px;
    font-size: 12px;
  }

  .notfound-error__link {
    font-size: 12px;
  }
}
