.promo {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  border-radius: 10px;
  letter-spacing: -2px;
  font-family: 'Inter', 'Arial', sans-serif;
}

.promo__title {
  margin: 0;
  padding-top: 170px;
  padding-bottom: 144px;
  max-width: 730px;
  width: 100%;
  text-align: center;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  color: #fff;
}

@media screen and (max-width: 850px) {
  .promo {
    max-width: 850px;
  }
}

@media screen and (max-width: 768px) {
  .promo {
    max-width: 728px;
  }
  
  .promo__title {
    padding-top: 360px;
    padding-bottom: 308px;
    max-width: 660px;
    font-size: 40px;
    line-height: 52px;
  }
}

@media screen and (max-width: 500px) {
  .promo__title {
    padding-top: 223px;
    padding-bottom: 207px;
    max-width: 668px;
    font-size: 29px;
    line-height: 37px;
    letter-spacing: -1px;
  }
}

@media screen and (max-width: 320px) {
  .promo {
    max-width: 292px;
  }
}
